<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdBtclbIIj5PjSdh7wjHRejRD0Opf-YuY</string>
	<key>GCM_SENDER_ID</key>
	<string>40360760090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homeopet.au</string>
	<key>PROJECT_ID</key>
	<string>homeopet-au</string>
	<key>STORAGE_BUCKET</key>
	<string>homeopet-au.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40360760090:ios:2394650f8b29bf004a12a3</string>
</dict>
</plist>